PAYGLOCAL_MERCHANT_ID=ptplpropelme9274
PAYGLOCAL_PRIVATE_KEY_ID=kId-EUzsuxowjZVDmbVw
PAYGLOCAL_PUBLIC_KEY_ID=8cc91c8d-8030-4660-a9c7-33de886fb495

# PAYGLOCAL_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----
# MIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQCodr9kpyPVMkYx
# nesMhWwd1mxTLSIrP7KmanNyQ7DSQllxvWbd4q7z5mCnW5FS1QpXqVasceFd/5sJ
# blaxnCAOVjX6jjFeZx+hgr5ob+7WxNS+zrrpsLRk04vMOOUo8LGc9AlO2M5mEb3Y
# lB0pWCDRvJEzdGBBwcKvlIY8pKeSQl1V6lWJCYSrBUN+HRnJ9iqe4FQsURZuwbF3
# 5WrwB1i2kM1sJZrxjKNo1KlufcMjkxz0HDgVDA6TL/xUvptuQjAX6X+kpAtIctv6
# 5d+7F/b/kP4HCMY0ma5/DPaDV4EAFwbYI+oUUuSShMIUlU9BLa50CcByET/ciHNY
# 5E/GE9GdAgMBAAECggEAAjiAg43oJ8RleabMhVTRQkpu5qDKxBmvRp4oHpqRqeU5
# 2HPn93xTFJWAnYF+7AHcGfWPli8xH+6sPJwBqg6LZfemd1f+WBwmu1e7IAAmZ0U0
# eGhxZ9O5E7bYhK0U/kIVVqLpPYAXpm+iRPOHjTbjcIhaZ1HSfq4UctaTzMMEj3sU
# IQWfj7hChH59kJIY17TYiVBP4S7PLxXmsz84//r4uyxVoKvRvARjmOqIz8WYPgyb
# iiWnledi+maYWJy+rq8gA2j8CgzOcBADZXaJ4bGPHUaaraTWph7yDCS1yHae997k
# y4u9TDbO97IoyASqif7OvrHDhs7Ry+2O+cE9KlfKQQKBgQDqkNZ7T52+kuNgQt/j
# abD+NFNlHkJZxWcQIU16Ake8yeAGUDang7mAlzC7kLViGYIQrAG/8b1fYJIVWWaY
# XDfWhrht+d/1NCzL8dwR6q2uL1CogRZp+4+wD0NanHggvdUAlvtKjtDB+Q7H3RLn
# IRx3luFfmgFLHB+PLS8Lgx0T3QKBgQC325j58++3WdcMVA7KB13FRcbudrpMlUcJ
# mciKEYnDcOf0Bn2C2W2cXq04eWGM0/t9GyC/I8jnag6noVuHrBZw0XhZo5njZadx
# NlI6M0HRpBuzwU41UUj2YoZXILWEBJCAW7gKlShLfbEzIfeiuZvlseqaaJdL0o2d
# YTSJgNW4wQKBgEy/VR4Fn8RSBUliuCSNWVbjQgIM04LR3vXdH59zDYvMtZr7Nda7
# d7+GOHC2WVKeq/rOfMgTzXVegI2xsaraSX7Ml52MK2XsS1fza6EFGwyp+IcZrX7B
# y3K8m7oTBg8YbZAC1ne/oLhGyDpGsD+lis3qNRV1q0SrD/xluUXYAXSVAoGATzAr
# BEU3k04DnJC7yfJARg5WrzC97uxAq3br8+O35VDE5srA1lHVrwrsKq3FAUXwRKMh
# iJHeHyYD59lMtfO9upvN7TXUuyd2ZgGSivS2vZekQtjYWYiIF266E97Hr3PT1SUr
# 8Irrzw/0+WQA57pv1g+6TwULXSHz0rwiR7MQ2kECgYBa7vwfHGbrUKZVYHenz5sM
# lkIb4zKdUG8qDtuPUmoNVHV9Hy08NfUVf0zY0zmUAymJ1S977wZl03IruLluI+6r
# bW8+CnVJDFb7MCm/xSphIPPG/pkSsDLrIxpP9pMfQ9IBQBUXysA03X8/ehivu4J9
# UHhTRpPikJTlfg3qXGvLVg==
# -----END PRIVATE KEY-----
# PAYGLOCAL_PUBLIC_KEY=-----BEGIN PUBLIC KEY-----
# MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAqvymrGrvv1JEyhMIFISz
# nsBSHZ5YyjYkbwONoFtfaZ9svptkSTLC1S6YtNTcIswp+up0g8aOT+e2w++yjt0W
# Zzdp5d6s/CG0WlIsNMgRi9ESjB/EEOK7tkj8Dg23ZoqMjejHblRaI6J1zwUlCUXr
# UYHVaVnTsNuqdQMSUfTeXuSd7TmmKvhID07sw4pi0ViM+90T0JL2m+fGIi6hYd9I
# 8vjjmngkRP0FL0zq7lwbc3YTiEejqN+eqwZxRAL1chJTWhgIEYksgJv9MvQvH//D
# yUyaaXeftakXZMrrME3ZzHd2lazcpTX/wP4Bmt3JzFvH0S0K3OCmALJ3nvmUDTk4
# /wIDAQAB
# -----END PUBLIC KEY-----

PAYGLOCAL_PRIVATE_KEY=./certs/kId-EUzsuxowjZVDmbVw_ptplpropelme9274.pem
PAYGLOCAL_PUBLIC_KEY=./certs/8cc91c8d-8030-4660-a9c7-33de886fb495_payglocal_mid.pem


# Local backend callback endpoint.
PAYGLOCAL_CALLBACK_URL=https://propelmetatech.com/callbackurl

# PayGlocal initiate endpoint. Keep prod until you move to production credentials.
PAYGLOCAL_INITIATE_URL=https://api.prod.payglocal.in/gl/v1/payments/initiate/paycollect

# Gateway currency used in the actual PayGlocal request.
PAYGLOCAL_TXN_CURRENCY=USD
PAYGLOCAL_STANDING_TYPE=FIXED
PAYGLOCAL_MONTHLY_NUMBER_OF_PAYMENTS=N
PAYGLOCAL_YEARLY_NUMBER_OF_PAYMENTS=N
PAYGLOCAL_MONTHLY_FREQUENCY=MONTHLY
PAYGLOCAL_YEARLY_FREQUENCY=YEARLY
PAYGLOCAL_MONTHLY_START_DATE=20260401
PAYGLOCAL_YEARLY_START_DATE=20260401

HOST=0.0.0.0
PORT=3001
ALLOWED_ORIGIN=https://propelmetatech.com
SUCCESS_REDIRECT_URL=https://propelmetatech.com/health
FAILURE_REDIRECT_URL=https://propelmetatech.com/health

# File-backed persistence. Good for a single deployed instance when you do not want a DB yet.
TRANSACTION_STORE_PATH=./data/subscriptions.json
VERIFY_CALLBACK_SIGNATURE=true
MAX_BODY_SIZE_BYTES=1048576
REQUEST_TIMEOUT_MS=30000
HEADERS_TIMEOUT_MS=35000
